<div class="sorting-bar">

  <div *ngFor="let cr of sortingOptions; let idx = index" class="sorting-bar__criteria"
    (click)=" changeSortingCriteria(cr.name)"
    [ngClass]="{'criteria--selected': currentCriteria.name === sortingOptions[idx].name}">
    <i class="criteria__icon" [ngClass]="[cr.icon]"></i>
    <span class="criteria__text">{{cr.name | firstCapitilazed}}</span>
  </div>

  <div class="show-more">
    <i class="fas fa-ellipsis-h"></i>
  </div>

  <div class="flex-fill"></div>
  <div class="change-display">
    <i class="fas fa-th-large"></i>
    <i class="fas fa-chevron-down expand-more-icon"></i>
  </div>


</div>