<div class="sorting-bar">
  <div class="sorting-bar__criteria criteria--selected">
    <i class="fas fa-rocket criteria__icon"></i>
    <span class="criteria__text">Best</span>
  </div>

  <div class="sorting-bar__criteria ">
    <i class="fas fa-fire-alt criteria__icon"></i>
    <span class="criteria__text">Hot</span>
  </div>


  <div class="sorting-bar__criteria ">
    <i class="fas fa-certificate criteria__icon"></i>
    <span class="criteria__text">New</span>
  </div>



  <div class="sorting-bar__criteria ">
    <i class="fas fa-chart-line criteria__icon"></i>
    <span class="criteria__text">Rising</span>
  </div>

  <div class="show-more">
    <i class="fas fa-ellipsis-h"></i>
  </div>

  <div class="flex-fill"></div>
  <div class="change-display">
    <i class="fas fa-th-large"></i>
    <i class="fas fa-chevron-down expand-more-icon"></i>
  </div>


</div>