<div class="feed-post">
  <div class="vote-section">
    <div class="upvote">
      <i class="fas fa-arrow-up"></i>
    </div>
    <div class="votes">2</div>
    <div class="downvote">
      <i class="fas fa-arrow-down"></i>
    </div>
  </div>

  <div class="post">
    <div class="post__header">
      <div class="subreddit">
        <div class="subreddit__avatar"></div>
        <span class="subreddit__name">
          r/EnglishLearning
          <span class="post__metadata">• Posted by u/tobiassw 3 hours ago</span>
        </span>
      </div>

    </div>
    <div class="post__content">
      <p class="post__content__title">
        What's the difference between ideology and political orientation
      </p>
      <div class="post__content__text">
        I noticed my natives in social media say ideology instead of political orientation and religion , so what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?I noticed my natives in social media say ideology instead of political orientation and religion , so
        what's the
        difference?
      </div>
    </div>
    <div class="post__action-bar">
      <div class="post-action">
        <i class="far fa-comment-alt post-action__icon"></i>
        <span class="post-action__text">2 Comments</span>
      </div>
      <div class="post-action">
        <i class="fas fa-gift post-action__icon"></i>
        <span class="post-action__text">Gift</span>
      </div>
      <div class="post-action">
        <i class="fas fa-share post-action__icon"></i>
        <span class="post-action__text">Share</span>
      </div>

    </div>
  </div>

</div>