<div class="feed-post">
  <div class="vote-section">
    <div class="upvote">
      <i class="fas fa-arrow-up"></i>
    </div>
    <div class="votes">{{post.netVotes}}</div>
    <div class="downvote">
      <i class="fas fa-arrow-down"></i>
    </div>
  </div>

  <div class="post">
    <div class="post__header">
      <div class="subreddit">
        <div class="subreddit__avatar"></div>
        <span class="subreddit__name">
          r/{{post.subreddit.name}}
          <span class="post__metadata">• Posted by </span>
          <a [routerLink]="['/user', post.by]">
            u/{{post.by}}
          </a>
          <a [routerLink]="['r', post.subreddit.name, 'comments', post.id, 'slugged-text']">
            {{post.createdAt | timeago}}
          </a>
        </span>
      </div>

    </div>
    <div class="post__content">
      <p class="post__content__title">
        {{post.title}}
      </p>
      <div class="post__content__text">
        {{post.text}}
      </div>
    </div>
    <div class="post__action-bar">
      <div class="post-action">
        <i class="far fa-comment-alt post-action__icon"></i>
        <span class="post-action__text">{{post.commentCount}} Comments</span>
      </div>
      <div class="post-action">
        <i class="fas fa-gift post-action__icon"></i>
        <span class="post-action__text">Gift</span>
      </div>
      <div class="post-action">
        <i class="fas fa-share post-action__icon"></i>
        <span class="post-action__text">Share</span>
      </div>

    </div>
  </div>

</div>