.app-actions {
  display: flex;
}

.app-action {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}

.app-action:hover {
  background-color: rgba(45, 45, 46, 1);
}

.app-action__icon {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
