@use "../colors";
@use "../common";

.page-body {
  margin-top: 1em;
}

.page-body .row {
  margin-left: 0px;
  margin-right: 0px;
}

.col {
  background-color: colors.$body-color;
}

.subcol {
  background-color: colors.$body-color;
  width: 300px;
}

.feed {
  background-color: colors.$body-color;
}

.premium-card {
  @include common.app-card();
  margin-top: 0.8em;
  padding: 0.5em 0.7em;
  width: 100%;

  &#{__content} {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-right: 2em;
    font-size: 0.85em;
    color: colors.$iron;
    column-gap: 1em;
  }

  &#{__icon} {
    color: colors.$orange;
    font-size: 2em;
  }

  &#{__title} {
    font-weight: 600;
  }

  &#{__description} {
    font-size: 0.8em;
  }
  &#{__button} {
    margin-top: 0.7em;
    cursor: pointer;
    text-align: center;
    font-size: 0.9em;
    font-weight: 700;
    padding: 0.3em 0;
    width: 100%;
    background-color: colors.$orange;
    border-radius: 2em;

    &:hover {
      background-color: colors.$orange-hover;
    }
  }
}
