.post-create-bar {
  background-color: var(--toolbar-color);
  display: flex;
  /* justify-content: center; */
  align-items: center;
  padding: 5px 10px;
  border: 1px solid var(--grey-border);
  border-radius: 4px;
}

.avatar {
  width: 30px;
  height: 30px;
  border: 1px solid grey;
  border-radius: 50%;
  /* background-color: cornflowerblue; */
  background-image: url("https://cdn.pixabay.com/photo/2020/04/26/15/08/reddit-5095703_1280.png");
  background-size: cover;
}
