$light-grey: #272729;
$toolbar-color: #1a1a1b;
$orange: #ff4500;
$orange-hover: #ff4400d0;

$grey-border: #343536;
$grey-soft-highlight: #615c5c54;
$grey-hard-highlight: #4d4848da;
$iron: #d7dadc;
$body-color: #030303;
$ligh-blue: #4fbcff;
