/* You can add global styles to this file, and also import other style files */

@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --light-grey: #272729;
  --toolbar-color: #1a1a1b;
  --orange: #ff4500;
  --orange-hover: #ff4400d0;

  --grey-border: #343536;
  --grey-soft-highlight: #615c5c54;
  --grey-hard-highlight: #4d4848da;
  --iron: #d7dadc;
  --body-color: #030303;
  --ligh-blue: #4fbcff;
}

body,
html {
  font-family: "Source Sans Pro", sans-serif;
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  background: var(--body-color) !important;
}

textarea:focus,
input:focus {
  outline: none;
}

fa-icon {
  vertical-align: middle;
}

.non-selectable {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.divider {
  width: 0.2px;
  margin: 5px 0;
  background-color: grey;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.76);
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  /* padding: 0 100px; */
  background-color: rgba(46, 45, 45, 0.678);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;

  top: 150%;
  left: 50%;
  margin-left: -60px;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(46, 45, 45, 0.678) transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.icon--white {
  color: white;
}

.spacer {
  flex-grow: 1;
}

/* width */
::-webkit-scrollbar {
  width: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1e2428;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 15px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
  background: #555;
} */

.search {
  font-size: 12px;
  min-width: 70px;
  color: var(--iron);
  background-color: var(--light-grey);
  border: 0.1px solid var(--grey-border);
  outline: false;
  border-radius: 3px;
  padding: 5px;
  /* flex: 1; */
  margin-left: 10px;
}

.search:hover {
  border: 0.1px solid var(--iron);
}

.app-action {
  cursor: pointer;
  position: relative;
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 10%;
}

.app-action:hover {
  background-color: rgba(45, 45, 46, 1);
}

.app-action__icon {
  color: white;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
